#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/backlight.h>

#define HOST_OS 1  // set to 1 for Linux, default is 0 (Windows)

#include "../zmk-nodefree-config/helper.h"
#include "../zmk-nodefree-config/international_chars/swedish.dtsi"


// Hold : > 500 ms
// Tap and hold within 400 ms -> repeat tap
&mt {
    tapping-term-ms = <500>;
    quick-tap-ms = <400>;
};

/ {
    behaviors {
      #include "macros.dtsi"

      hm: homerow_mods {
          compatible = "zmk,behavior-hold-tap";
          label = "HOMEROW_MODS";
          #binding-cells = <2>;
          tapping-term-ms = <200>;
          quick_tap_ms = <175>;
          flavor = "tap-preferred";
          bindings = <&kp>, <&kp>;
      };

      /*
      se_aa: sv_ao {
        compatible = "zmk,behavior-mod-morph";
        label = "AA";
        #binding-cells = <0>;
        bindings = <&sv_ao_lowercase>, <&sv_ao_uppercase>;
        mods = <(MOD_LSFT|MOD_RSFT)>;
        // masked_mods = <(MOD_LSF|MOD_RSFT)>;
      };
      */
    };
    macros {
      // KVM 1
      kvm1: kvm1 {
        label = "KVM1";
        compatible = "zmk,behavior-macro";
        #binding-cells = <0>;
        wait-ms = <40>;
        tap-ms = <40>;
        bindings = <&kp SCROLLLOCK>, <&kp SCROLLLOCK>, <&kp N1>;
      };
      // KVM 2
      kvm2: kvm2 {
        label = "KVM2";
        compatible = "zmk,behavior-macro";
        #binding-cells = <0>;
        wait-ms = <40>;
        tap-ms = <40>;
        bindings = <&kp SCROLLLOCK>, <&kp SCROLLLOCK>, <&kp N2>;
      };
      // KVM 3
      kvm3: kvm3 {
        label = "KVM3";
        compatible = "zmk,behavior-macro";
        #binding-cells = <0>;
        wait-ms = <40>;
        tap-ms = <40>;
        bindings = <&kp SCROLLLOCK>, <&kp SCROLLLOCK>, <&kp N3>;
      };
      // KVM 4
      kvm4: kvm4 {
        label = "KVM4";
        compatible = "zmk,behavior-macro";
        #binding-cells = <0>;
        wait-ms = <40>;
        tap-ms = <40>;
        bindings = <&kp SCROLLLOCK>, <&kp SCROLLLOCK>, <&kp N4>;
      };
    };

  keymap {
    compatible = "zmk,keymap";
    main {
      bindings = <
        &kp ESC   &kp &none &mt F1 N1 &mt F2 N2 &mt F3 N3 &kp DEL   &kp DEL                                                                 &tog 2    &kp ESC   &mt F8 N8 &mt F9 N9 &mt F10 N0 &kp F11  &mt F12 K_APP 
        &kp LALT  &kp W     &kp D     &kp R     &mt F4 N4 &mt F5 N5 &none                                                                   &none     &mt F6 N6 &mt F7 N7 &kp U     &kp M     &kp P     &kp BSPC
        &kp LSHFT &kp A     &kp S     &kp H     &kp T     &kp TAB   &none         &kp LALT  &kp CAPS              &tog 2    &kp RCTRL       &none     &kp ENTER &kp N     &kp E     &kp O     &kp I     &kp SQT
        &kp LGUI  &kp K     &kp Y     &kp F     &kp C     &none         &none     &none     &kp LSHFT &none &none &none     &none     &none           &none     &kp COMMA &kp DOT   &kp L     &kp G     &kp RSHFT
        &none     &kp Q     &kp Z     &kp X     &kp V                   &mo 1     &kp LCTRL &kp SPACE             &kp RGUI  &kp LSHFT &kp SPACE                 &kp LBKT  &kp RBKT  &kp B     &kp J     &none
      >;
    };
    layer_1 {
      bindings = <
        &trans    &trans    &kp N0    &kp N9    &kp N8    &kp BSPC  &kp BSPC                                                                &trans    &trans    &kvm1       &kvm2         &kvm3         &kvm4           &trans
        &trans    &sv_ao    &trans    &kp UP    &kp N7    &kp N6    &trans                                                                  &trans    &trans    &kp SEMI    &kp PG_UP     &kp MINUS     &kp EQUAL       &kp DEL
        &trans    &trans    &kp LEFT  &kp DOWN  &kp RIGHT &kp ENTER &trans        &trans    &trans                &trans    &trans          &trans    &trans    &kp HOME    &kp PG_DN     &kp END       &kp GRAVE       &trans
        &trans    &trans    &trans    &kp DOT   &kp COMMA &trans        &none     &none     &trans    &none &none &trans    &trans    &none           &trans    &kp SLASH   &kp BSLH      &sv_oe        &sv_ae          &trans
        &trans    &trans    &kp PSCRN &kp RBKT  &kp LBKT                &trans    &trans    &trans                &trans    &trans    &trans                    &trans      &trans        &trans        &trans          &trans
      >;
    };

    game {
      bindings = <
        &kp ESC   &kp N1    &kp N2    &kp N3    &kp N4    &none     &kp LGUI                                                                &trans    &trans    &trans      &trans        &trans        &trans          &trans
        &kp ENTER &kp TAB   &kp Q     &kp W     &kp E     &kp R     &kp T                                                                   &trans    &trans    &trans      &trans        &trans        &trans          &trans
        &kp F5    &kp LSHFT &kp A     &kp S     &kp D     &kp F     &kp Y         &kp I     &kp J                 &trans    &trans          &trans    &trans    &trans      &trans        &trans        &trans          &trans
        &kp F9    &kp LCTRL &kp Z     &kp X     &kp C     &kp V         &none     &none     &kp N     &none &none &trans    &none     &none           &trans    &trans      &trans        &trans        &trans          &trans
        &kp 9     &kp 8     &kp 7     &kp 6     &kp 5                   &kp SPACE &kp LALT  &kp M                 &trans    &trans    &trans                    &trans      &trans        &trans        &trans          &trans
      >;
    };

    blank {    
      bindings = <
        &trans    &trans    &trans    &trans    &trans    &trans    &trans                                                                  &trans    &trans    &trans      &trans        &trans        &trans          &trans
        &trans    &trans    &trans    &trans    &trans    &trans    &none                                                                   &trans    &trans    &trans      &trans        &trans        &trans          &trans
        &trans    &trans    &trans    &trans    &trans    &trans    &none         &trans    &trans                &trans    &trans          &trans    &trans    &trans      &trans        &trans        &trans          &trans
        &trans    &trans    &trans    &trans    &trans    &trans        &none     &none     &trans    &none &none &trans    &none     &none           &trans    &trans      &trans        &trans        &trans          &trans
        &trans    &trans    &trans    &trans    &trans                  &trans    &trans    &trans                &trans    &trans    &trans                    &trans      &trans        &trans        &trans          &trans
      >;
    };
  };
};
